.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
/previous_versions
/rjarticle/data
/rjarticle/snapKrig.html
/rjarticle/snapKrig.pdf
/rjarticle/rjarticle_template
/vignettes_backup
/vignettes/data
data
