.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
rjarticle/data/treed.tif
rjarticle/data/treed_dem.tif
rjarticle/snapKrig_files/
rjarticle/rjarticle_complete.zip
*.aux
*.bbl
*.blg
*.brf
*.log
*.out
*.pdf
*.html
inst/doc
